/* Columns */

.bicolumn {
    float: left;
    width: 50%;
    padding: 10px;
}

.threecolumn {
    float: left;
    width: 33.33%;
    padding: 10px;

}

/* 20/80 unequal column */

.unequalcolumn {
    float: left;
}

.unequalcolumnleft {
    width: 20%;
}

.unequalcolumnright {
    width: 80%;
}

/* 25/75 unequal column */

.unequalcolumn {
    float: left;
}

.xxvcolumnleft {
    width: 25%;
}

.lxxvcolumnright {
    width: 75%;
}

.row{
    margin: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}