/* Learn Content Styles */

/* Head */

body {
    /* background-color: #0077ff; */
    background: url("../img/protosample/bg/bg2.jpg");
    /* "In the Rice Field" is under a  Creative Commons - CC0 License via StockVault.net */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* width: 100%; */
}

.logo:hover {
    transform: scale(2);
    transition: 0.3s;
}

.intro h1{
    font-size: 11vh;
    font-style: italic;
    transition: 1s;
}

.intro h1:hover{
    transform: scale(1.2);
    transition: 1s;
    cursor: default;
}

.aboutToolsContainer {
    background: white;
    overflow: hidden;
    height: auto;
    padding: 50px 100px;
}

.aboutTools h1 {
    text-align: center;
}

.descTerms br{
    display: block;
    content: "";
    margin-top: 20px;
}

.contentBreak {
    background:white;
    overflow: hidden;
    padding: 10px 50px;
}

.aboutHandTools {
    background: white;
    overflow: hidden;
    height: auto;
    padding: 50px 100px;
}

.aboutHandTools h3 {
    text-align: center;
}

.aboutFarmEq {
    background: white;
    overflow: hidden;
    height: auto;
    padding: 50px 100px;
}

.aboutFarmEq h3 {
    text-align: center;
}

.toolsContainer {
    background: white;
    overflow: hidden;
    height: auto;
    padding: 50px 100px;
}

.refLearn {
    margin-top: 90px;
}

.refLearn p a:hover {
    color: rgb(58, 194, 41);
}