/* Navigation Bar design by LordGumball20 */

/* nav */

nav {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    top: 0;
    position: fixed;
    /* position: -webkit-sticky; */
    background-color: rgba(30, 30, 30, 0.2);
    padding: 2% 5%;
}

nav button {
    background-color: transparent;
    color: #fff;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    border: solid;
    border-color: transparent;

    display: inline-block;
    transition: 0.3s;
}

nav button:hover {
    border: solid;
    border-color: white;
    cursor: crosshair;
}

nav button:active {
    background: rgba(255, 255, 255, 0.5);
    /* color: black; */
}

.logo {
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    list-style: none;
}

.leftnavbtn {
    float: left;
    margin-right: 25px;
    border-radius: 25px 0px;
}

.rightnavbtn {
    float: right;
    margin-left: 25px;
    border-radius: 0px 25px;
}

.burgericon {
    height: 58px;
    width: 58px;
}
