/* Navigation Bar design by LordGumball20 */

/* nav */

#nav {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    top: 0;
    position: fixed;
    /* position: -webkit-sticky; */
    padding: 2% 5%;
    transition: 0.5s;
}

.mainNav {
    height: 80px;
}

.navbtn {
    background-color: transparent;
    color: #fff;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    border: solid;
    border-color: transparent;

    display: inline-block;
    transition: 0.3s;
}

.navbtn:hover {
    border: solid;
    border-color: white;
}

.navbtn:active {
    background: rgba(255, 255, 255, 0.5);
    /* color: black; */
}

.logo {
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    list-style: none;
}

.leftnavbtn {
    float: left;
    margin-right: 25px;
    border-radius: 25px 0px;
}

.rightnavbtn {
    float: right;
    margin-left: 25px;
    border-radius: 0px 25px;
}

.leftbtn {
    float: left;
    margin-right: 25px;
    border-radius: 10px;
}

.rightbtn {
    float: right;
    margin-left: 25px;
    border-radius: 10px;
}

.burgericon {
    height: 58px;
    width: 58px;
}

.hidenav {
    height: 10px;
    width: 100%;
    max-width: 100%;
}

.hidenav button {
    float: right;
    margin-left: 25px;
}

#shownav {
    display: none;
}


.showbtn {
    background-color: rgba(30, 30, 30, 0.2);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: solid;
    border-color: transparent;
    border-radius: 0px !important;
    display: inline-block;
    transition: 0.3s;
}
.showbtn:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.obscure:hover {
    filter: blur(1.5px);
}