/* Plants Content Styles */

/* Head */

body {
    /* background-color: #0077ff; */
    background: url("../img/protosample/bg/bg1.jpg");
    /* "Leaves" is under a Non-Commercial License of StockVault.net */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Content area */

.intro h1{
    font-size: 11vh;
    font-style: italic;
    transition: 1s;
}

.intro h1:hover{
    transform: scale(1.2);
    transition: 0.3s;
    cursor: default;
}

.aboutPlants {
    text-align: center;
    background: white;
    overflow: hidden;
    height: 30vh;
    padding: 50px 100px 10px 100px;
}

.aboutPlants p {
    font-size: large;
}

.plantProgress {
    background: white;
    overflow: hidden;
    height: auto;
    padding: 5px 100px 50px 100px;
}

.plantContent {
    height: 80vh;
    width: 100%;
    padding: 15px;
    background: #008800;
    overflow: hidden;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.plantTitle {
    height: 20%;
    background: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.plantBox {
    height: 80%;
    background: #005300;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.plantRow {
    height: 100%;
}

.plantColumnStyle {
    color: white;
    height: 100%;
    /* background:  #004000; */
    border: none;
    border-radius: 10px;
}

.plantImg {
    height: 70%;
    padding: 12%;
    border: none;
    border-radius: 10px 10px 0 0;
    margin: 2.5%;
    text-align: center;
    background: #004000;
}

.plantImg img {
    width: 100px;
    height: 100px;
    border: solid;
    border-radius: 100%;
    transition: 0.3s;
}

.plantImg img:hover {
    transform: scale(2);
    border-radius: 10%;
    transition: 0.3s;
}

.plantTxT {
    height: 25%;
    border: none;
    border-radius: 0 0 10px 10px;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #004000;
}

.plantTxT p {
    margin: 0;
}

.plantDesc {
    color: #004000;
    background: aliceblue;
    width: auto;
    height: 47%;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.plantInfo {
    color: #004000;
    background: aliceblue;
    width: auto;
    height: 47%;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.plantInfoBox {
    background: aliceblue;
    border: solid;
    border-color: transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.plantInfoBox:hover {
    border: solid;
    border-color: #004000;
    transform: scale(1.2);
    transition: 0.3s;
}